﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ColorSelector.ascx.cs" Inherits="CMSApp.CMSFormControls.CMSFormControls_ColorSelector" %>

<asp:DropDownList ID="drpColor" runat="server"></asp:DropDownList>