﻿@using Kentico.Forms.Web.Mvc
@using KhoborSite.FormBuilder

@model KhoborSite.FormBuilder.FormComponents.PostalCodeSelectComponent.PostalCodeSelectComponent

@{
    IDictionary<string, object> htmlAttributes = ViewData.GetEditorHtmlAttributes();
    htmlAttributes["data-service-url"] = Model.Properties.ServiceURL;
    htmlAttributes["data-param-name"] = Model.Properties.QueryParameterName;
}

@Html.Hidden("postalSelector", null, htmlAttributes)

<input type="hidden" id="select" value="" style="width:300px;" />
<br />

@{
    htmlAttributes["data-selector-id"] = Html.Id("postalSelector");
}

<label>Hello</label>

@Html.CustomInput("text", "selectorValue", Model.GetValue(), htmlAttributes)