﻿@using Kentico.Forms.Web.Mvc

@model Business.ViewModels.FormComponentViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (string.IsNullOrWhiteSpace(Model.ElementId))
    {
        Model.ElementId = "contact-form";
    }

    // Ensure that we prefix the form elements to allow multiple
    // instances of the form on the same page
    Model.FormComponents.ForEach(x =>
    {
        x.Name = $"{Model.ElementId}.{x.Name}";
    });
}

<div class="row">
    <div id="@Model.ElementId" style="position: relative">
        @using (Html.BeginForm("Index", "Contact"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ElementId)
            
            <fieldset>
                @Html.Kentico().FormFields(Model.FormComponents, Model.FormConfiguration)
            </fieldset>
            <div class="contact-form__button-wrapper">
                <button class="btn btn--full-width" type="submit">Submit</button>
            </div>
        }
    </div>
</div>