﻿/* Add custom CSS */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: red;
}

.ktc-default-section div {
    margin: 10px 0 10px 0;
}

#contact-form_Name_Value {
    width: 320px;
    margin-left: 17px;
}